
<div class="container" >

  <div class="row justify-content-center">
    <div class="col-1">
      <button type="button" class="btn btn-success margenes" routerLink="/practice1Signals">
        1
      </button>
    </div>

    <div class="col-1">
      <button type="button" class="btn btn-success margenes" routerLink="/practice1Signals">
        2
      </button>
    </div>

    <div class="col-1">
      <button type="button" class="btn btn-success margenes" routerLink="/practice1Signals">
        3
      </button>
    </div>

    <div class="col-1">
      <button type="button" class="btn btn-success margenes" routerLink="/ruta1">
        ruta 1
      </button>
    </div>

  </div>

  <div class="row justify-content-end navitem-top">
    <div class="col-2">
      <button type="button" class="btn btn-success" routerLink="/">
        Home
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<h1 class="display-1">Estudio Angular +16</h1>