
<div class="card" style="width: 18rem; margin-left: 50px;">
    
    <div class="card-body">
        <div class="card-title">
            <h5>Señal computada a partir de dos señales</h5>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="btn btn-danger">señal multiplo 1= {{multiplo1()}}</a>

            </li>
            <li class="list-group-item">
                <a class="btn btn-warning">señal multiplo 2= {{multiplo2()}}</a>

            </li>
            <li class="list-group-item">
                <a class="btn btn-success">señal computada= {{squareCompute()}}</a>

            </li>
        </ul>
    </div>
</div>


